<!DOCTYPE html>
<html>
<head>
	<title>Hello. This is the Title.</title>
</head>
<body>
	<h1>Hello World</h1>
	<h2>This is a test for CSC667</h2>
	<h2>rwong22 here</h2>
	<p>testing 123</p>
	<p>testing 456</p>
	<p>testing 789</p>
	<h3>A list of stuff</h3>
	<ul>
		<li>pencil</li>
		<li>phone</li>
		<li>nothing</li>
	</ul>
</body>
</html>